NEXT_APPWRITE_ENDPOINT=
NEXT_APPWRITE_PROJECT_ID=
NEXT_APPWRITE_DATABASE_ID=
NEXT_PUBLIC_APPWRITE_MEMBER_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_ROLE_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_ORGANIZATION_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_USER_LINK_ORG_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_USER_LINK_ROLES_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_USER_LINK_SOCIAL_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_EVENTS_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_EVENT_LINK_ORG_COLLECTION_ID=
NEXT_PUBLIC_APPWRITE_ACHIEVEMENTS_COLLECTION_ID=
NEXT_APPWRITE_BUCKET_ID=
NEXT_APPWRITE_API_KEY=